body {
  font-family: Arial;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .exercicios {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

