body {
  font-family: Arial;
  padding: 20px;
}

h1 {
  text-align: center;
  padding: 0 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container .exercicios {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.listar-tarefas {
  display: flex;
  background-color: #a9a9a9;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  width: 600px;
  height: auto;
}

.listar-tarefas #ulTarefas {
  display: flex;
  flex-direction: column;  
}

.listar-tarefas #ulTarefas li {
  border-bottom: #333 1px solid;
  padding: 20px;

  list-style: square;
}

button {
  margin-left: 20px;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.tabela-lista {
    display: table; /* O <ul> age como a tabela */
    width: 100%;
    border-collapse: collapse;
}

.linha-tabela {
    display: table-row; /* O <li> age como uma linha */
}

.celula-tabela {
    display: table-cell; /* O conteúdo (span, div) age como célula */
    padding: 8px;
    border: 1px solid #ccc;
}